<app-loader *ngIf="isLoading"></app-loader>
<div class="row">
  <ng-container *ngIf="!isLoading">
    <app-pokemon-card
      [pokemon]="pokemon"
      class="col-sm-12 col-md-4 col-lg-3"
    ></app-pokemon-card>
    <div class="col-sm-12 col-md-8 col-lg-9 p-1">
      <div class="jumbotron">
        <h1 class="display-4 text-capitalize">{{ pokemon.name }}</h1>
        <p class="lead">
          {{ pokemonSpecies["flavor_text_entries"][0]["flavor_text"] }}
        </p>
        <hr class="my-4" />
        <h4>Evolution chain</h4>
        <app-loader *ngIf="isLoadingEvolutionChain"></app-loader>
        <div class="row" *ngIf="!isLoadingEvolutionChain">
          <div class="col-sm-12 col-md-4" *ngFor="let evolution of evolutions">
            <app-pokemon-card [pokemon]="evolution"></app-pokemon-card>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
